@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

/* BODY - MOBILE */ 
/* Lembrando que a base do projeto é feita para mobile. Depois, utilizando @media, é feita a responsividade para 1440px e desktop. */
body {
 background-color: #1D232A;
 font-family: 'Open Sans', 'icones', sans-serif;
 color: #ffffff;
}
/* BODY - Mobile */

/* BODY - 1440px */
@media screen and (min-width: 1440px) {
    body {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}
/* BODY - 1440px */

/* CABEÇALHO - MOBILE */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15191C;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.navbar-logo {
    width: 40px;
}

.navbar-perfil {
    display: none;
}

.navbar-menu i::before {
    content: "\e904";
    font-size: 24px;
}

.navbar-notificacao i::before {
    content: "\e906";
    font-size: 24px;
}
/* CABEÇALHO - MOBILE */

/* CABEÇALHO - 1440px */
@media screen and (min-width: 1440px) {
    .navbar {
        background-color: #1D232A;
        display: grid;
        column-gap: 32px;
        grid-template-columns: 1fr auto;
        padding: 16px 60px;
        height: 80px;
        box-sizing: border-box;
        grid-column: 2;
    }

    .navbar-menu {
        display: none;
    }

    .navbar-logo {
        display: none;
    }

    .navbar-perfil {
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 8px;
        align-items: center;
        justify-self: flex-end;
        color: #95999C;
        padding: 8px 32px;
        border-right: 1px solid #95999C;
    }

    .navbar-perfil::before {
        content: "";
        display: block;
        width: 32px;
        height: 32px;
        background-image: url(../img/profile_2.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .navbar-perfil::after {
        content: "\e90d";
        color: #ffffff;
        font-size: 1.5rem;
    }
}
/* CABEÇALHO - 1440px */

/* MENU LATERAL - MOBILE */
.menu-lateral {
    display: flex;
    flex-direction: column;
    background-color: #15191C;
    width: 75vw; /* para ocupar 75% do viewport (no caso, 75% da página) */
    height: 100vh;
    /* MENU ESCONDIDO */
    position: absolute;
    left: -100vw; /* para ficar escondido */
    transition: .25s; /* para ter uma animação */
}

.menu-lateral--ativo {
    left: 0;
    transition: .25s;
}

.menu-lateral_logo {
    width: 118px;
    align-self: center;
    padding: 16px;
}

.menu-lateral_links {
    height: 64px;
    color: #95999C;
    padding-left: 64px;
    display: flex;
    align-items: center;
}

.menu-lateral_link--ativo {
    color: #ffffff;
    padding-left: 56px;
    border-left: 8px solid #ffffff;
}

.menu-lateral_links::before {
    content: "\e900";
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}

.menu-lateral_logo {
    width: 118px;
    align-self: center;
    padding: 16px;
}

.menu-lateral_link--inicio::before {
    content: "\e902";
}

.menu-lateral_link--video::before {
    content: "\e90e";
}

.menu-lateral_link--picos::before {
    content: "\e909";
}

.menu-lateral_link--integrantes::before {
    content: "\e903";
}

.menu-lateral_link--camisas::before {
    content: "\e900";
}

.menu-lateral_link--pinturas::before {
    content: "\e90a";
}
/* MENU LATERAL - MOBILE */

/* MENU LATERAL - 1440px */
@media screen and (min-width: 1440px) {
    .menu-lateral {
        position: fixed;
        left: 0;
        width: 200px;
        grid-column: 1;
        grid-row: 1 / span 2;
        transition: none;

    }
}
/* MENU LATERAL - 1440px */

/* CARTÃO PRINCIPAL - MOBILE */
.principal {
    padding: 24px;
    display: grid;
    gap: 16px;
}

.titulo-pagina {
    font-size: 1.5rem;
    font-weight: 700;
}

/* O .cartao é utilizado em todo o site */
.cartao {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-color: #2C343A;
}

.cartao--destaque {
    margin-bottom: 16px;
}

 /* Utilizado no destaque-video e no destaque-produtos */
.cartao-imagem_desktop {
    display: none;
}
 /* Utilizado no destaque-video e no destaque-produtos */

.cartao-conteudo {
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
}

.cartao-destaque {
    grid-column: span 2;
}

.cartao-titulo {
    font-size: 1rem;
    font-weight: 700;
    grid-column: span 2;
}

.cartao-perfil {
    color: #95999C;
    font-size: 0.9rem;
    grid-column: span 2;
}

.cartao-info {
    display: flex;
    align-items: center;
    color: #95999C;
}

.cartao-info_tempo::before {
    content: "\e90c";
    margin-right: 8px;
}

.cartao-info_visualizacao::before {
    content: "\e90f";
    margin-right: 8px;auto 1fr;
}

.cartao-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0480DC;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 0.9rem;
    justify-self: flex-end;
}

.cartao-botao_play::before {
    content: "\e90b";
    font-size: 24px;
}

.cartao-botao_destaque {
    width: 100%;
    grid-column: span 2;
}

.cartao-botao_destaque::before {
    margin-right: 8px;
}
/* CARTÃO PRINCIPAL - MOBILE */

/* CARTÃO PRINCIPAL - 1440px */
@media screen and (min-width: 1440px) {
    .principal {
        display: grid;
        grid-template-columns: 175px auto 1fr auto;
        grid-template-areas:
            "menu-lateral-area titulo-pagina titulo-pagina titulo-pagina"
            "menu-lateral-area destaque-video destaque-video videos-recentes"
            "menu-lateral-area secao-videos secao-videos secao-videos"
            "menu-lateral-area produtos-recentes destaque-produtos destaque-produtos"
            "menu-lateral-area secao-produtos secao-produtos secao-produtos"
        ;
        column-gap: 32px;
        padding: 16px 60px;
        grid-column: 2;
    }

        /* CLASSES ÚNICAS PARA O grid-template-areas */
    .destaque-video {
        grid-area: destaque-video;
        }

    .videos-recentes {
        grid-area: videos-recentes;
    }

    .secao-videos {
        grid-area: secao-videos;
    }

    .destaque-produtos {
        grid-area: destaque-produtos;
    }

    .produtos-recentes {
        grid-area: produtos-recentes;
    }

    .secao-produtos {
        grid-area: secao-produtos;
    }

    .menu-lateral-area {
        grid-area: 200px;
    }
    /* CLASSES ÚNICAS PARA O grid-template-areas */


    /* Utilizado no destaque-video e no destaque-produtos */
    .cartao-imagem_desktop {
        display: block;
    } 

    .cartao-imagem_mobile {
        display: none;
    }
     /* Utilizado no destaque-video e no destaque-produtos */

    .cartao--destaque {
        margin-bottom: 0;
    }

    .cartao-botao_destaque {
        grid-column: auto;
        padding: 16px 8px;
    }
}
/* CARTÃO PRINCIPAL - 1440px */

/* RECENTES - MOBILE */
    .cartao-recentes {
        display: none;
    }
/* RECENTES - MOBILE */

/* RECENTES - 1440 px */
    @media screen and (min-width: 1440px) {
        .cartao-recentes {
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            row-gap: 24px;
            width: 256px;
            padding: 16px;
            box-sizing: border-box;
            align-self: flex-start;
        }
    
        .cartao-recentes .cartao-titulo {
            grid-column: auto;
        }  

        .cartao-link {
            font-size: 0.8rem;
            font-weight: 600;
            color: #0480DC;
            justify-self: flex-end;
        }

        .cartao-lista {
            display: grid;
            row-gap: 16px;
            grid-column: span 2;
        }

        .cartao-item {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 8px;
        }

        .cartao-item_thumbnail {
            width: 32px;
            grid-row: span 2;
        }

        .cartao-item_titulo {
            font-size: 0.9rem;
            line-height: 1.2rem;
            font-weight: 700;
        }

        .cartao-item_perfil {
            font-size: 0.8rem;
            color: #959595;
        }
    }
/* RECENTES - 1440 px */

/* SEÇÃO - MOBILE */
.secao {
    display: grid;
    gap: 16px;
}

.titulo-secao {
    font-size: 1.2rem;
    font-weight: 700;
}

.cartao-info_preco::before {
    content: "\e905";
    margin-right: 8px;
}

.cartao-botao_comprar::before {
    content: "\e901";
    font-size: 24px;
}
/* SEÇÃO - MOBILE */

/* SEÇÃO - 1440px */
@media screen and (min-width: 1440px) {
    .secao {
        grid-template-columns: repeat(4, 1fr);
    }

    .titulo-secao {
        grid-column: span 4;
    }

}
/* SEÇÃO - 1440px */

/* PICOS */

/* PICOS */
